.colonna_kanban {
  flex-basis: 30%;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  min-width: 400px;

  .nome_colonna {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

// Colori delle carte
.da_completare {
  background-color: #e3fcef;
  border-bottom: 5px solid #e3fcef;
}

.in_esecuzione {
  background-color: #fff3cd;
  border-bottom: 5px solid #fff3cd;
}

.completato {
  background-color: #d1e7dd;
  border-bottom: 5px solid #d1e7dd;
}

// Effetto di passaggio della carta da una colonna all'altra
// qualcosa di elaborato con animazioni
.la_carta_sta_passando {
  background-color: #f0f0f0;
  border-bottom: 5px solid #f0f0f0;

  .carta {
    background-color: #f0f0f0;
  }
}
