.kanban-board {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .kanban-column {
    flex-basis: 30%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;

    .column-header {
      font-weight: bold;
      margin-bottom: 15px;
    }
    .card {
      background-color: white;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: all 0.3s ease;
      cursor: move;

      &:hover {
        box-shadow: 0 6px 12px rgba(0,0,0,0.2);
        transform: translateY(-2px);
        background-color: rgba(0,0,0,0.05);
      }
    }
  }
  // Classe per l'oscuramento durante il drag sopra altre sezioni
  .todo {
    background-color: #e3fcef;
    border-bottom: 5px solid #e3fcef;
  }
  .in-progress {
    background-color: #fff3cd;
    border-bottom: 5px solid #fff3cd;
  }
  .done {
    background-color: #d1e7dd;
    border-bottom: 5px solid #d1e7dd;
  }

  // oscuramento durante il drag
  .card-drag-over {
    border-bottom: 5px dashed greenyellow;
  }
}

