<!--****************************************************-->
<!--*************TABELLA KANBAN BY DEVELOPEZ************-->
<!--****************************************************-->
<div class="tabella_kanban">

<!--*****************************-->
<!--*****  COLONNA DA COMPLETARE  *****-->
<!--*****************************-->
  <div
    class="colonna_kanban da_completare"
    (drop)="onDrop($event, DA_COMPLETARE)"
    (dragover)="onDragOver($event, DA_COMPLETARE)"
    (dragleave)="onDragLeave($event)"
  >
<!--      TITOLO-->
    <div class="nome_colonna">{{ DA_COMPLETARE }}</div>
<!--      CARTA-->
    <div
      draggable="true"
      class="carta"
      *ngFor="let carta of filtraCartePerColonna(DA_COMPLETARE)"
      (dragstart)="onDragStart(carta)"
    >
<!--      ID CARTA-->
      {{ carta.idCarta }}
      <br>
<!--      BRRRRRRRRRRRRRRRR-->
      <br>
<!--      NOME TASK-->
      {{ carta.nomeTask }}
    </div>
  </div>

<!--******************************-->
<!--*****  COLONNA IN ESECUZIONE  *****-->
<!--******************************-->
  <div
    class="colonna_kanban in_esecuzione"
    (drop)="onDrop($event, IN_ESECUZIONE)"
    (dragover)="onDragOver($event, IN_ESECUZIONE)"
    (dragleave)="onDragLeave($event)"
    (mouseover)="colonnaDragOver = IN_ESECUZIONE"
  >
<!--      TITOLO-->
    <div class="nome_colonna">{{ IN_ESECUZIONE }}</div>
<!--      CARTA-->
    <div
      draggable="true"
      class="carta"
      *ngFor="let carta of filtraCartePerColonna(IN_ESECUZIONE)"
      (dragstart)="onDragStart(carta)"
      id="{{ carta.idCarta }}"
    >
<!--      ID CARTA-->
      {{ carta.idCarta }}
      <br>
<!--      BRRRRRRRRRRRRRRRR-->
      <br>
<!--      NOME TASK-->
      {{ carta.nomeTask }}
    </div>
  </div>

<!--********************************-->
<!--*****  COLONNA COMPLETATO  *****-->
  <div
    class="colonna_kanban completato"
    (drop)="onDrop($event, COMPLETATO)"
    (dragover)="onDragOver($event, COMPLETATO)"
    (dragleave)="onDragLeave($event)"
  >
<!--      TITOLO-->
    <div class="nome_colonna">{{ COMPLETATO }}</div>
<!--      CARTA-->
    <div
      draggable="true"
      class="carta"
      *ngFor="let carta of filtraCartePerColonna(COMPLETATO)"
      (dragstart)="onDragStart(carta)"
    >
<!--      ID CARTA-->
      {{ carta.idCarta }}
      <br>
<!--      BRRRRRRRRRRRRRRRR-->
      <br>
<!--      NOME CARTA-->
      {{ carta.nomeTask }}
    </div>
  </div>
</div>
