.carta {
  background-color: cyan;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  cursor: move;

  &:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    transform: scale3d(1.02, 1.02, 1.02);
    background-color: rgba(0,0,0,0.05);
  }

  &:active {
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    transform: scale3d(1.08, 1.08, 1.08);
    background-color: greenyellow;
  }
}
